.edit__actions {
  display: flex;
  gap: 16px;
  justify-content: space-around;
}

.edit__action__remove, .edit__action__update, .edit__action__update {
  text-decoration: underline;
  padding: 8px;
  cursor: pointer;
  text-underline-offset: 3px;
  text-decoration-style:  underline;
  text-decoration-thickness: 1px;

}
.edit__action__remove {
  color:  #ff5733;
}


.edit__action__update {
  color: #AAA;
  cursor:  not-allowed;
}

.edit__action__update.active {
  color: #FFF;
  cursor:  pointer
}