:root {
  --primary-color: #F0F0F4;
  --secondary-color: #15141A;
  --main-color: #e8ff00;
}

/* ******************************************* Remove scroll bar */

html {
  scrollbar-width: none; /* For Firefox */
}

html::-webkit-scrollbar {
  width: 0px; /* For Chrome, Safari, and Opera */
}

a {
  color: var(--primary-color);
}