:root {
  --primary-color: #F0F0F4;
  --secondary-color: #15141A;
  --main-color: #fde725;
  font-family: 'Karla', sans-serif;
}

/* ******************************************* Remove scroll bar */

html {
  scrollbar-width: none; /* For Firefox */
}

html::-webkit-scrollbar {
  width: 0px; /* For Chrome, Safari, and Opera */
}

a {
  color: var(--primary-color);
}


label {
  display: block;
  font-size: 0.9rem;
  font-weight: 500;
  color: #aaa;
  margin-bottom: 4px;
}

input, textarea {
  display: block;
  width: 100%;
}