.mural {
  width: 100%;
  height: 100vh;
  position: relative;
}


.branch {
  background-color: #CCC;
  position: absolute;
  height: 100px;
  width: 100px;
  overflow: hidden;
  border: 1px solid none;
  box-sizing: border-box;
}


.branch:hover {
  border: 1px solid #fff;
}