.mural {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.branch {
  position: absolute;
  overflow: hidden;
  box-sizing: border-box;
  transition: all ;
  display: flex;
  gap: 8px;
  flex-direction: column;
  cursor: pointer;
  user-select: none;
  color: #FFF;
  text-align: left;
  outline: 2px solid var(--secondary-color);
}

.branch:hover  {
  transform: scale(1.01);
  z-index: 100;
}

.branch__title {
  mix-blend-mode: difference;
  font-family: 'DynaPuff', cursive;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.branch__description {
  mix-blend-mode: difference;
  font-family: 'Karla', sans-serif;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}

